<!-- <h1 class="title">Hello Angular</h1>
<app-demo></app-demo> -->

<!-- HomeModule -->
<!-- <app-header-demo></app-header-demo>
<app-sidebar></app-sidebar>
<app-content></app-content>
<app-footer-demo></app-footer-demo> -->

<!-- Bai Tap 2 -->
<!-- <app-ex2></app-ex2> -->

<!-- DataBinding -->
<!-- <app-data-binding></app-data-binding> -->

<!-- Structural Directives -->
<!-- <app-structural-directives></app-structural-directives> -->

<!-- attribute-directives -->
<!-- <app-attribute-directives></app-attribute-directives> -->
<!-- Demo ng-content -->
<!-- <app-card> -->
    <!-- Header -->
    <!-- <h2 slot="header">Product A</h2> -->
    <!-- Body -->
    <!-- <div slot="body">
        <h4 class="card-title">Iphone 13 Pro Max</h4>
        <p class="card-text">35000000</p>
    </div> -->
    <!-- Footer -->
    <!-- <button slot="footer" class="btn btn-success">Add to cart</button>
</app-card>

<hr/> -->
<!-- <app-card>
    //Header
    <h2 slot="header">Product B</h2>
    //Body
    <div slot="body">
        <h4 class="card-title">Iphone 12</h4>
        <p class="card-text">25000000</p>
    </div>
    //Footer
    <button slot="footer" class="btn btn-success">Add to cart</button>
</app-card> -->

<!-- <app-interaction></app-interaction> -->

<!-- BÀI TẬP 8 ĐẬT VÉ XE BUS -->
<!-- <app-ex8></app-ex8> -->

<h1>Angular App</h1>
<a class="mr-4" routerLink="/">Home</a>
<a class="mr-4" routerLink="/data-binding">DataBinding</a>
<a class="mr-4" routerLink="/structural-directives">Structural Directives</a>
<a class="mr-4" routerLink="/ex-2">EX-2</a>
<a class="mr-4" routerLink="/ex-8">EX-8</a>
<a class="mr-4" routerLink="/article">Article</a>




<!-- Các thành phần chung thì để trên router-outlet -->
<router-outlet></router-outlet>
<!-- bên dưới router-outlet sẽ tự so sánh đường link với router để hiện thị đúng component -->